# 1- Question 
1-read you csv file (https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv )

2-print the first 5 rows 

3-print the shape of the data

4- print and data type of each column

In [3]:
import pandas as pd
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print(diamonds)
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 50)
print("First 5 rows:")
print(diamonds.head())
print("Number of rows and columns:")
print(diamonds.shape)
print("\nData type of each column:")
print(diamonds.dtypes)

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]
First 5 rows:
   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
Number of rows and columns:
(53940, 10)

Data type of each column:
carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

# 2-Question
1- print carat column

2- Write a Pandas program to create a new 'Quality -color' Column (cut,color)

examble => ( Ideal, E)

In [7]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
color = ['Red','Blue','Orange','Red','White','White','Blue','Green','Green','Red']
df['Quality -color'] = color
print("\nNew DataFrame after inserting the 'color' column")
print(df)

New DataFrame after inserting the 'color' column
        name  score  attempts qualify Quality -color
a  Anastasia   12.5         1     yes            Red
b       Dima    9.0         3      no           Blue
c  Katherine   16.5         2     yes         Orange
d      James    NaN         3      no            Red
e      Emily    9.0         2      no          White
f    Michael   20.0         3     yes          White
g    Matthew   14.5         1     yes           Blue
h      Laura    NaN         1      no          Green
i      Kevin    8.0         2      no          Green
j      Jonas   19.0         1     yes            Red

# 3-Question
1-Write a Pandas program to summarize the data.

2- only one column => 'table'

3- only 'float64' columns of the diamonds Dataframe. => include=['...']

In [ ]:
import pandas as pd
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print("Summarize of 'table' columns:")
print(diamonds.describe(include=['table']))
print("Summarize of 'float64' columns:")
print(diamonds.describe(include=['float64']))
df = pd.DataFrame(exam_data , index=labels)
print("Summary of the basic information about this DataFrame and its data:")
print(df.info())

# 4-Question
Write a Pandas program to find the details of the diamonds where length>5, width>5 and depth>5. (x,y,z)

In [ ]:
import pandas as pd
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print("Original Dataframe:")
print(diamonds.head())
print("\nDiamonds where length>5, width>5 and depth>5:")
result = diamonds[(diamonds.x>5) & (diamonds.y>5) & (diamonds.z>5)]
print(result.head())

# 5-Question
1- rename one col

2- rename two col togeather

3- rename all col togeather

In [10]:
import pandas as pd
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print("Original Dataframe:")
print(diamonds.head())
print("\nAfter renaming two of the columns of the said dataframe:")
diamonds.rename(columns={'color':'diamond_color'}, inplace=True)
print(diamonds.head())

print(diamonds.head())
print("\nAfter renaming two of the columns of the said dataframe:")
diamonds.rename(columns={'color':'diamond_color', 'clarity':'dimaond_clarity'}, inplace=True)
print(diamonds.head())
diamonds_cols = ['new_carat', 'new_cut', 'new_color', 'new_clarity', 'new_depth', 'new_table', 'new_price', 'new_x', 'new_y', 'new_z']
diamonds.columns = diamonds_cols
print("\nAfter renaming all the columns of the said dataframe:")
diamonds.rename(columns={'color':'diamond_color', 'clarity':'dimaond_clarity'}, inplace=True)
print(diamonds.head())

Original Dataframe:
   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

After renaming two of the columns of the said dataframe:
   carat      cut diamond_color clarity  depth  table  price     x     y     z
0   0.23    Ideal             E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium             E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good             E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium             I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good             J     SI2   63.3   58.0    335  4.34  4.35  2.75
   carat      cut diamond_color clarity  depth  table  price     x     y     z
0   0.23    Ideal             E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium             E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good             E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium             I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good             J     SI2   63.3   58.0    335  4.34  4.35  2.75

After renaming two of the columns of the said dataframe:
   carat      cut diamond_color dimaond_clarity  depth  table  price     x  \
0   0.23    Ideal             E             SI2   61.5   55.0    326  3.95
1   0.21  Premium             E             SI1   59.8   61.0    326  3.89
2   0.23     Good             E             VS1   56.9   65.0    327  4.05
3   0.29  Premium             I             VS2   62.4   58.0    334  4.20
4   0.31     Good             J             SI2   63.3   58.0    335  4.34

      y     z
0  3.98  2.43
1  3.84  2.31
2  4.07  2.31
3  4.23  2.63
4  4.35  2.75

After renaming all the columns of the said dataframe:
   new_carat  new_cut new_color new_clarity  new_depth  new_table  new_price  \
0       0.23    Ideal         E         SI2       61.5       55.0        326
1       0.21  Premium         E         SI1       59.8       61.0        326
2       0.23     Good         E         VS1       56.9       65.0        327
3       0.29  Premium         I         VS2       62.4       58.0        334
4       0.31     Good         J         SI2       63.3       58.0        335

   new_x  new_y  new_z
0   3.95   3.98   2.43
1   3.89   3.84   2.31
2   4.05   4.07   2.31
3   4.20   4.23   2.63
4   4.34   4.35   2.75

# 6-Question
Write a Pandas program to find the diamonds that are either Good or Very Good.

In [11]:
import pandas as pd
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print("Original Dataframe:")
print(diamonds.head())
print("\nDiamonds that are either Premium or Ideal:")
result = diamonds[(diamonds.cut == 'Premium') | (diamonds.cut == 'Ideal')]
print(result.head())

Original Dataframe:
   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

Diamonds that are either Premium or Ideal:
    carat      cut color clarity  depth  table  price     x     y     z
0    0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1    0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3    0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
11   0.23    Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12   0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33

# 7-Question
1-print the name of all the columns

2- Mean of each column

3-Mean of each row of diamonds DataFrame:

In [12]:
import pandas as pd
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print("Original Dataframe:")
print(diamonds.head())
print("\nMean of each numeric column of diamonds DataFrame:")
print(diamonds.mean())
print("\nMean of each row of diamonds DataFrame:")
print(diamonds.mean(axis=1).head())

Original Dataframe:
   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

Mean of each numeric column of diamonds DataFrame:
carat       0.797940
depth      61.749405
table      57.457184
price    3932.799722
x           5.731157
y           5.734526
z           3.538734
dtype: float64

Mean of each row of diamonds DataFrame:
0    64.727143
1    65.292857
2    65.651429
3    66.535714
4    66.864286
dtype: float64

C:\Users\ABDO\AppData\Local\Temp/ipykernel_12812/1367335490.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(diamonds.mean())
C:\Users\ABDO\AppData\Local\Temp/ipykernel_12812/1367335490.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(diamonds.mean(axis=1).head())

# 8-Question
1- mean of 'price' column only

2- Write a Pandas program to calculate the mean of price for each cut of diamonds DataFrame.

3-Write a Pandas program to calculate count, minimum, maximum price for each cut of diamonds DataFrame.

4- count how many times each value in cut series of diamonds DataFrame occurs. value_counts()

In [ ]:
import pandas as pd
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print("Original Dataframe:")
print(diamonds.head())
print("\nCalculate the mean of price for each cut:")
print(diamonds.groupby('cut').price.mean())
print("\nCalculate the mean of price for each cut:")
print(diamonds.groupby('cut').price.mean())
print("\nCount, minimum, maximum  price for each cut of diamonds DataFrame:")
print(diamonds.groupby('cut').price.agg(['count', 'min', 'max']))
print("\nCalculate the mean of price for each cut:")
print(diamonds.groupby('cut').price.mean())

# 9-Question
Write a Pandas program to count the number of missing values in each Series of diamonds DataFrame.

In [ ]:
import pandas as pd
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print("Original Dataframe:")
print(diamonds.head())
print("\nNumber of missing values in each Series of diamonds DataFrame:")
print(diamonds.isnull().sum())